*{
  margin: 0;
  padding: 0;
}


body{
  background: linear-gradient(135deg, #74ebd5, #acb6e5);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weather-container{
 background: rgba(255, 255, 255, 0.15);
 backdrop-filter: blur(15px);
 border-radius: 20px;
 width: 350px;
 padding: 40px;
 text-align: center;
 color: #fff;
 box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;




}


.weather-container:hover {
  transform: translateY(-5px);
}

.weather-heading{
  font-style: 2rem;
  font-weight: 600;
  margin-bottom: 20px;
  letter-spacing: 1px;
}


.search-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;


}
.search-box input{
  padding: 10px;
  width: 70%;
  bottom: none;
  border-radius: 8px;
  outline: none;
  font-size: 1rem;
  margin-right: 10px;

}


.search-box button{
  background:#649cdd ;
  color: #fff;
  border: none;
  padding: 12px 18px;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
}
.search-box button:hover{
  background: #9eb9da;
}

.weather-card{
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 20px;
    margin-top: 15px;
    color: #463b3b;
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1);
  transition: all 0.3s ease;
}

.weather-card h2 {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 500;
}
.weather-card h3 {
  margin: 10px 0;
  font-size: 2rem;
  font-weight: 700;
}
.weather-card p {
  font-size: 1rem;
  margin: 6px 0;
  opacity: 0.9;
}

.error {
  color: #ff4b4b;
  font-weight: 600;
  background: rgba(255, 0, 0, 0.1);
  border-radius: 8px;
  padding: 8px;
  margin-top: 10px;
}